body {
  margin: 0;
  padding: 0;
}

header {
  background: $header-color;

  & .nav-bar {
    // width: 100%;
    display: flex;
    justify-content: space-around;

    padding-top: 2em;

    align-items: center;

    & a {
      // margin-right: 7%;
      color: $basic-font;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 500;
      white-space: nowrap;
      padding: 0.3em 0.7em;
      border-radius: 50px;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      -ms-border-radius: 50px;
      -o-border-radius: 50px;
      // &:first-child {
      //   margin-left: 7%;
      // }

      &:hover,
      &:focus {
        background-color: darken($header-color, 4%);
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
      }
    }
  }

  & .intro {
    display: flex;
    text-transform: uppercase;
    margin-top: 5em;

    & h1 {
      font-size: 3.5em;
    }

    & p {
      text-transform: lowercase;
      width: 80%;
    }

    & .left {
      & img {
        width: 35vw;
        margin-left: 15%;
      }
    }
    & .right {
      margin-left: 8%;
    }
    & .button {
      color: $header-color;
      background: darken($header-color, 70%);
    }
  }

  & .cakes {
    margin-top: 5em;

    padding: 0;

    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    // align-items: baseline;
    & h1 {
      font-size: 1.5em;
      margin-top: 2em;
    }
    & div {
      padding-top: 5em;
      width: 33.33%;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      padding-bottom: 7em;
      text-align: center;
      & img {
        width: 15em;
      }
      & article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      &:nth-child(2) {
        & img {
          width: 8em;
        }
      }
    }

    @for $i from 1 to 4 {
      & div:nth-child(#{$i}) {
        background: nth($colors, $i);
        color: darken(nth($colors, $i), 60%);

        & .button {
          background: darken(nth($colors, $i), 60%);
        }
      }
    }
  }
}
