$basic-font: #0a0a0a;

$header-color: rgb(245, 233, 220);
$cake-color: rgb(255, 241, 210);
$cake-color2: rgb(255, 207, 210);
$cake-color3: rgb(215, 196, 195);
$colors: $cake-color, $cake-color2, $cake-color3;

$main-div-color: rgb(165, 216, 229);
$main-div-color2: rgb(255, 244, 222);
$main-div-color3: rgb(255, 239, 207);

$store1: rgb(252, 221, 159);
$store2: rgb(255, 239, 207);
$store3: rgb(235, 232, 221);
$store4: rgb(255, 207, 210);
$store5: rgb(165, 216, 229);
$store6: rgb(226, 226, 222);
$store7: rgb(215, 209, 210);
$store8: rgb(253, 214, 139);
$store-colors: $store1, $store2, $store3, $store4, $store5, $store6, $store7,
  $store8, #bada55;

$gallery-color: rgb(250, 250, 250);
$post-footer-color: #fafafa;
